<%- include("header"); -%>
<script src="./js/script.js"></script>
<script src="./js/isotope.js"></script>

<h3>Who</h3>
<p class="contactText">This site is hosted by a group of people who firmly believe in the potential and talent of Banksy. This expo is an homage to the works of the street artist.
  We however have no connections with the anonymous artist and have no knowledge of his true identity.</p>
<h3>What</h3>
<p class="contactText">
This site provides the most famous works of Banksy. Due to the nature of his art it is impossible to hang them all in 1 room. That's the reason why this site excists. We also offer tours in London and Briston through the streets where Banksy's art can be seen.
</p>
<h3>Where</h3>
<p class="contactText">
His art is based all over the world in various cities and countries.
Most of his work can be found in the UK. This site offers a small resume of our favourite artworks
of Banksy but there is still so much to see.
</p>
<h3>Why</h3>
<p class="contactText">
Street art is a rather new and less traditional kind of art. It is illegal and except in a few cases (including Banksy's work), street art is getting removed as fast as possible.
We think it is important to give the proper attention to an artform that has been looked down on by many.
</p>


<%- include("footer"); -%>
