<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Banksy expo.</title>
    <link rel="stylesheet" href="./css/reset_plus.css">
    <link rel="stylesheet" href="./css/master.css">



    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">



  </head>



  <body>
<header>
  <div class="container">
    <a href="/"><img src="../img/logo.jpg" alt="logo van Banksy" width="200">
</a>
<%- include("nav"); -%>
  </div>
</header>
