




<nav>



  <div class="navContainer">
  <ul>
      <li><a href="/" class="knop ">Home</a></li>
      <li><a href="/art" class="knop">Art</a></li>
      <li><a href="/detail" class="knop">Detail</a></li>
      <li><a href="/contact" class="knop">Contact</a></li>
  </ul>
</div>
</nav>
